In [14]:
import pandas as pd
from unidecode import unidecode

In [15]:
df = pd.read_csv('Lista-de-Palavras.csv', header=None)
df.columns = ['word']
df.head()

      word
0        A
1  A-BE-CE
2    A-TOA
3       AB
4      ABA

In [16]:
df = df.dropna()
df = df[df['word'].str.isalpha()]
df = df[df['word'] == df['word'].apply(unidecode)]
df['word'] = df['word'].str.lower()
df.head()

         word
0           a
3          ab
4         aba
5     abacate
6  abacateiro

In [17]:
df['length'] = df['word'].apply(len)
df.head()

         word  length
0           a       1
3          ab       2
4         aba       3
5     abacate       7
6  abacateiro      10

In [18]:
df = df.sort_values(by='length', ascending=True)
df.head()

      word  length
0        a       1
3149     b       1
20685    p       1
28712    u       1
9994     e       1

In [19]:
df_random_grouped = df.groupby('length').apply(lambda x: x.sample(n=100, random_state=42) if len(x) >= 100 else x).reset_index(drop=True)
df_random_grouped.describe()

C:\Users\Lucas\AppData\Local\Temp\ipykernel_71512\1334617296.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_random_grouped = df.groupby('length').apply(lambda x: x.sample(n=100, random_state=42) if len(x) >= 100 else x).reset_index(drop=True)

            length
count  1595.000000
mean      9.315361
std       4.690574
min       1.000000
25%       5.000000
50%       9.000000
75%      13.000000
max      22.000000

In [20]:
df_random_grouped = df_random_grouped[df_random_grouped['length'] >= 4]
df_random_grouped = df_random_grouped[df_random_grouped['length'] <= 8]

df_random_grouped

         word  length
220      bife       4
221      opor       4
222      foro       4
223      tatu       4
224      ramo       4
..        ...     ...
715  arrojado       8
716  apocopar       8
717  palmilha       8
718  gangrena       8
719  implante       8

[500 rows x 2 columns]

In [21]:
with open('words.lua', 'w') as lua_file:
  lua_file.write('words = {\n')
  for _, row in df_random_grouped.iterrows():
    lua_file.write(f"    {{word = '{row['word']}', length = {row['length']}}},\n")
  lua_file.write('}\n')